In [152]:
import numpy as np
import pandas as pd

In [153]:
file=r'C:\Users\nguye\Downloads\SPEI_for ARMHS_20200630.xlsx'
data=pd.read_excel(file,sheet_name='60 Month SPEI')
qs=pd.read_excel(file,sheet_name='60M')
display(data.head(2),qs.head(2))

,Year,Month,Vdate,2011,2050,2076,2093,2110,2153,2200,...,2866,2867,2869,2870,2871,2873,2875,2877,2880,2905
0,2000,1,20001,0.560642,0.510947,0.374049,0.596291,0.530378,0.293670,0.388784,...,0.271332,0.311900,0.043555,0.279549,0.220520,0.026162,0.185642,0.346034,-0.036662,-0.147396
1,2000,2,20002,0.461436,0.418765,0.260567,0.499049,0.436741,0.205954,0.313370,...,0.286916,0.323427,0.030490,0.274851,0.237015,0.066710,0.171855,0.527293,0.717261,-0.164725

,Unique participation ID,TIME,Postcode,LGA,Date1_completed_survey,Day,Month,Year,YYYYMM,No.months in drought,The MAX ROW …...,Lastest month in drought
0,1001693013,0,2795,Upper Lachlan (A),2007-12-13,13,12,2007,200712,39.0,97.0,200712.0
1,1001693013,1,2795,Upper Lachlan (A),2009-03-18,18,3,2009,20093,54.0,112.0,20093.0

In [154]:
qs.isna().any()

Unique participation ID     False
TIME                        False
Postcode                    False
LGA                          True
Date1_completed_survey       True
Day                         False
Month                       False
Year                        False
YYYYMM                      False
No.months in drought         True
The MAX ROW …...             True
Lastest month in drought     True
dtype: bool

In [155]:
qs['day']=qs['Date1_completed_survey'].dt.day   ## cach 1: tach ngay/thang/nam ra cot rieng
qs['month']=pd.DatetimeIndex(qs['Date1_completed_survey']).month   ## ## cach 2: tach ngay/thang/nam ra cot rieng
qs['year']=qs['Date1_completed_survey'].dt.year
qs['ym']=qs['year'].dropna().astype(int).astype(str)+qs['month'].dropna().astype(int).astype(str) ## phải bỏ N/A mới cộng string được
qs.head(1)

,Unique participation ID,TIME,Postcode,LGA,Date1_completed_survey,Day,Month,Year,YYYYMM,No.months in drought,The MAX ROW …...,Lastest month in drought,day,month,year,ym
0,1001693013,0,2795,Upper Lachlan (A),2007-12-13,13,12,2007,200712,39.0,97.0,200712.0,13.0,12.0,2007.0,200712

In [156]:
qs.columns   ##chu y cot Postcode co thua 1 dau cach

Index(['Unique participation ID', 'TIME', 'Postcode ', 'LGA',
       'Date1_completed_survey', 'Day', 'Month', 'Year', 'YYYYMM',
       'No.months in drought', 'The MAX ROW …...', 'Lastest month in drought',
       'day', 'month', 'year', 'ym'],
      dtype='object')

In [176]:
qs=qs.set_axis([i.lower().strip() for i  in qs.columns],1)

display(data.head(1),qs.head(1))

,Year,Month,2011,2050,2076,2093,2110,2153,2200,2210,...,2866,2867,2869,2870,2871,2873,2875,2877,2880,2905
Vdate,,,,,,,,,,,,,,,,,,,,,
20001,2000,1,0.560642,0.510947,0.374049,0.596291,0.530378,0.29367,0.388784,0.443398,...,0.271332,0.3119,0.043555,0.279549,0.22052,0.026162,0.185642,0.346034,-0.036662,-0.147396

,unique participation id,time,postcode,lga,date1_completed_survey,day,month,year,yyyymm,no.months in drought,the max row …...,lastest month in drought,day,month,year,ym
0,1001693013,0,2795,Upper Lachlan (A),2007-12-13,13,12,2007,200712,39.0,97.0,200712.0,13.0,12.0,2007.0,200712

In [177]:
month_in_drought=[]
for y in range(len(qs.postcode)):
    for i in range(len(data.columns)):
        if int(qs.postcode[y])==data.columns[i]:
            for z in range(len(qs.yyyymm)):
                for j in range(len(data.vdate)):
                    if int(qs.yyyymm[z])==int(data.vdate[j]):
                        print(len([x for x in list(data.iloc[(j-59):(j+1),i]) if x<-1]))

AttributeError: 'DataFrame' object has no attribute 'vdate'

In [158]:
data.set_index('Vdate',inplace=True)
data.head(1)

,Year,Month,2011,2050,2076,2093,2110,2153,2200,2210,...,2866,2867,2869,2870,2871,2873,2875,2877,2880,2905
Vdate,,,,,,,,,,,,,,,,,,,,,
20001,2000,1,0.560642,0.510947,0.374049,0.596291,0.530378,0.29367,0.388784,0.443398,...,0.271332,0.3119,0.043555,0.279549,0.22052,0.026162,0.185642,0.346034,-0.036662,-0.147396

In [159]:
data.at[20001,2011]

0.560641535678601

In [160]:
data.at[qs.yyyymm[0],qs.postcode[0]]

-1.21558082359068

In [161]:
qs.postcode.isna().sum()

0

In [167]:
[data.at[int(qs.yyyymm[i]),int(qs.postcode[j])] for i in range(len(qs.yyyymm)) for j in range(len(qs.postcode)) 
 if qs.postcode[j] in data.columns]

KeyboardInterrupt: